import(methods)

export(opls)
exportMethods(coefficients, fitted, plot, predict, print, residuals, show, tested, getSummaryDF, getPcaVarVn, getScoreMN, getLoadingMN, getWeightMN, getVipVn, getSubsetVi)
export(strF)
exportClasses(opls)
