import("methods")

exportClasses("opls")

export("opls",
       "strF")

exportMethods("coef",
              "fitted",
              "plot",
              "predict",
              "print",
              "residuals",
              "show",
              "tested",
              "getSummaryDF",
              "getPcaVarVn",
              "getScoreMN",
              "getLoadingMN",
              "getWeightMN",
              "getVipVn",
              "getSubsetVi")


